
.site-nav{
  display: none;
}
.cont-nav{
  display: none;
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $thirdly-text-color;
  border-bottom: 1px solid #ececec;
}

.mobile-menu-btn {
 background-color: transparent;
 border: none;
 padding: 0;
}

.mobile-menu-btn{
  fill: $text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    fill: $main-color;
  }
}

.logo{
font-weight: 700;
font-size: 24px;
line-height: 0.85;
letter-spacing: 0.03em;
}
.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100vh;

  background-color: $thirdly-text-color;
  opacity: 0;
  visibility: none;
  pointer-events: none;
  z-index: 100;
  
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.header-menu__close-button{
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  top: 10px;
  right: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus{
   fill: $main-color;
 }
}

.mobile-menu-container{
  padding:48px 40px;
}

.mobile-menu-link{
display: block;
color: $text-color;
font-size: 40px;
line-height: 0.85;
line-height: 100%;
letter-spacing: 2%;

margin-bottom: 32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus{
  color: $main-color;
}
&.current{
  color: $main-color;
}
}

.mobile-menu-list{
  width: 219px;
  padding: 0px;
  margin: 0px;

 font-weight: 500;
 font-size: 40px;
 line-height: 47px;
 letter-spacing: 0.02em;
}



.mobile-menu-contact{
  margin: 0px;
  padding: 0px;
}

.mobile-menu-link__tel{
display: block;
font-weight: 500;
font-size: 34px;
line-height: 0.85;
letter-spacing: 0.02em;

color: $main-color;

margin-bottom: 32px;
margin-top: 302px;
}

.mobile-menu-link__mail{
font-weight: 500;
font-size: 24px;
line-height: 0.85;
letter-spacing: 0.02em;

color: $secondary-text-color;
}
.right-border{
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile-menu__network{
font-weight: 500;
font-size: 18px;
line-height: 0.81;
letter-spacing: 0.02em;

color: $main-color;
}

.mobile-menu__social-link{
  display: flex;
  margin-top: 64px;
  margin-bottom: 0px;
  padding: 0px;
}

.mobile-menu-item + .mobile-menu-item{
  margin-left: 10px;
}

@media screen and (min-width:768px){
  .link.item-current::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: $main-color;
  border-radius: 2px;
}
  .header{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .item:first-child{
    margin-bottom: 10px;
  }
  .site-nav{
  display: flex;
  padding: 0;
  margin-left: 88px;
  margin: 0;
}

.link.current{
  position: relative;
}

.site-nav.list{
  margin-left: 88px;
}

.tablet + .tablet{
  margin-left: 50px;
}
.main-nav{
  display: flex;
  align-items: center;
}
  .cont-nav.list{
  display: block;
  padding: 0;
  margin: 0;
}
.cont-nav .link {
  color: $secondary-text-color;
 font-weight: 500;
 font-size: 12px;
 line-height: 0.85;
 letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  color: $main-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.02em;
}
&:hover .item-icon,
&:focus .item-icon{
  fill: $main-color;
}
}

.item-icon {
  fill: $secondary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-icon.envelope{
  width: 14px;
  height: 10px;
}
.item-icon.tel{
  width: 10px;
  height: 14px;
}

 .mobile-menu-btn{
   display: none;
 }
 
 .logo{
   font-weight: 700;
   font-size: 24px;
   line-height: 0.85;
   letter-spacing: 0.03em;
 }

  .site-nav.list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: $main-color;
}
&.current{
  color: $main-color;
}
}
.cont-nav.link{
  display: block;
  color: $main-color;
}
}

@media screen and (min-width: 1200px){
  .header {
  background-color: $thirdly-text-color;
  border-bottom: 1px solid #ececec;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 80px;
}
.item:first-child{
    margin-bottom: 0px;
  }

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: $main-color;
}

 &.current {
  color: $main-color;
}
}

.item + .item {
  margin-left: 50px;
}

.cont-nav {
  display: flex;
  align-items: center;
}

.cont-nav .link {
  display: flex;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 34px;

  color: $secondary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: $main-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
}

.item + .item {
  margin-left: 50px;
}

.cont-nav.list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.item-icon {
  margin-right: 10px;
}

  .item-icon.envelope{
    width: 16px;
    height: 12px;
  fill: currentColor;

  &:hover,
  &:focus{
  fill: $main-color;
}
}

.item-icon.tel{
  width: 10px;
  height: 16px;
  fill: currentColor;
  
  &:hover,
  &:focus{
  fill: $main-color;
}
}


.link.item-current::after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: $main-color;
  border-radius: 2px;
}
}